body{
    font-family: 'Birthstone', cursive;
}

/* Utility Classes */

.img-responsive{
    max-width: 100%;
}

.hero_image{
    background: url(https://media.istockphoto.com/photos/delicious-meal-on-a-black-plate-top-view-copy-space-picture-id1165399909?s=612x612) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.hero_wrapper{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_wrapper h1{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.hero_wrapper span{
    margin-left: 5rem;
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

p{
    font-size: 2rem;
}

.form_code{
    text-align: center;
}

.form_code .post_code{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    padding: 3rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.form_code button{
    width: 40%;
    text-align: center;
    background-color: #00bab1;
    color: white;
    padding: 1.5rem;
    margin: 1rem auto 0rem;
    border: none;
    border-radius: .3rem;
    font-size: 1.5rem;
}

/* Product Section */

.product{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.product_list_item{
    float: left;
    width: 32%;
    margin-left: .5rem;
    padding: 5px;
}

.product_list_item:first-of-type{
    margin-left: 0px;
}

.product_list_item:last-of-type{
    margin-right: 0px;
}

.product_list_item h2{
    font-size: 3rem;
}

@media screen and (max-width: 700px) {
    .product_list_item{
        width: 100%;
        float: none;
    }
}